body
{
    background-color: #ddd;
    height: 60vw;
    width: 80vw;
}

#FormDatos
{
    background-color: #fff;
    border: 2px solid black;
}

#FormDatos h1
{
    margin: 0 auto; 
    text-align: center; 
}

#formulario
{
    background-color: #fff;
    border: 2px solid black; display: none;
    height: 60vh;
}

#formulario h1
{
    margin: 0 auto; 
    text-align: center;
}

.renglones
{
    display: flex;
    left: auto;
}

table 
{
    border-collapse: collapse;
    width: 100%;
}

th, td 
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th 
{
    background-color: #f2f2f2;
}

.hidden-column 
{
    display: none;
}

#formulario button 
{
    float: left;
}
